@tailwind base;
@tailwind components;
@tailwind utilities;


.product-card{
  width: 600px;
  height: 420px;
}

.product-type{
  text-transform: uppercase;
}

.product-img{
  object-fit: cover;
  height: -webkit-fill-available;
}


@media only screen and (max-device-width : 640px ) {
 
  .product-card{
    width: 500px;
    height: auto;
    justify-items: center;
    align-items: center;
  }
  
  .product-img{
    object-fit: cover;
    height: 200px;
  }

  .product-content{
    height: 300px;
  }
   
  }